

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.logged {
	color: gray;
	line-height: 20px;
	padding: 8px 15px 0;
}

.float-right {
	float: right;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[name="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-register {
  max-width: 500px;
  margin: 0 auto;
  }
.form-register .input-group {
  padding: 5px 0;
}

.form-register .input-group .input-group-addon {
min-width: 140px;
text-align: right;
}


.input-group .form-control.password-char {
    border-right: 0;
    width: 31px;
    padding: 4px;
    text-align: center;
}
.input-group .form-control.password-char:last-child {
border-right: 1px solid #ccc;
}
