{% extends "base.html" %}
{% block content %}
    <div class="container">
	   <h1></h1>
	<p class="alert alert-danger">Error{% if error %}: {{ error }}{% endif %}</p>
    </div>
{% endblock %}
