{% extends "base.html" %}
{% block content %}
    <div class="container">

      <form action="/invalid.php" class="form-register" role="form" method="get">
        <h2 class="form-signin-heading">Change number of allowed invalid logons</h2>
	{% if error %}
	    <p class="alert alert-danger">{{ error }}</p>
	{% endif %}
	    <div class="input-group">
	    <span class="input-group-addon">Number of allowed invalid logons:</span>
        <input id="noail" name="noail" type="number" class="form-control" value="{{ noail }}" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

    </div>
{% endblock %}
