{% extends "base.html" %}
{% block content %}
    <div class="container">

      <form action="login.php" class="form-signin" role="form" method="get">
        <h2 class="form-signin-heading">Please sign in</h2>
	{% if error %}
	    {% if timeouterror and wait %}
	    <p class="alert alert-danger">{{ error }} You need to wait <span id="timeout_timer">{{ wait }}</span> seconds before another try.</p>
	    <script>
	        var timer = $('#timeout_timer');
	        var timeout = timer.text();
	        var interval;
	        function do_time(){
	            if(--timeout <= 0){
	                $('#username, #password').prop('disabled', false);
	                timer.parent().text('You may now sign in.').removeClass('alert-danger').addClass('alert-info');
	                window.clearInterval(interval);
	            } else {
	                timer.text(timeout);
	            }
	        }
	        interval = window.setInterval(do_time, 1000);
	    </script>
	    {% else %}
	    <p class="alert alert-danger">{{ error }}</p>
	    {% endif %}
	{% endif %}
        <input id="username" name="username" type="text" class="form-control" placeholder="Username" required autofocus {% if timeouterror == 1 %}disabled{% endif %}>
        <input id="password" name="password" type="password" class="form-control" placeholder="Password" required {% if timeouterror == 1 %}disabled{% endif %}>
        <p>Aktualnie system nie sprawdza haseł dla kont "preinstalowanych". Logowanie jest uznane za poprawne, jeżeli hasło jest takie same jak login.</p>
	{% if next %}
	<input name="next" type="hidden" value="{{ next }}">
	{% endif %}
        <!--<label class="checkbox">
          <input name="remember-me" type="checkbox" value="remember-me">
        </label>-->
        <p><button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button></p>
         <p><a href="/register.php">Register</a> new account.</p>
      </form>

    </div>
{% endblock %}
