
<ul class="nav navbar-nav">
<!--<li class="active"><a href="/">Home</a></li>-->
<li><a href="/">Home</a></li>
<li><a href="/messages.php">Messages</a></li>
<li><a href="/login.php">Login</a></li>
<li><a href="/secure_login.php">Secure login</a></li>
<li><a href="/register.php">Register</a></li>
</ul>
