{% extends "base.html" %}
{% block content %}
<div class="container" role="main">

	<div class="page-header">
		{#{% if user.loggedin %}<p class="float-right"><a href="/messages.php?action=add"><button type="button" class="btn btn-primary">Add message</button></a></p>{% endif %}#}
		<p class="float-right"><a href="/messages.php?action=add"><button type="button" class="btn btn-primary">Add message</button></a></p>
		<h1>Messages</h1>
	</div>
	{% for message in messages %}
	{% if message.user_allowed %}
	<p class="float-right">
	<a href="/messages.php?action=grant_access&message_id={{ message.message_id }}" class="btn btn-info">Grant access</a>
	<a href="/messages.php?action=revoke_access&message_id={{ message.message_id }}" class="btn btn-info">Revoke access</a>
	<a href="/messages.php?action=edit&message_id={{ message.message_id }}" class="btn btn-warning">Edit</a>
	<a href="/messages.php?action=delete&message_id={{ message.message_id }}" class="btn btn-danger">Delete</a>
	</p>
	{% endif %}
	<h3> {{ message.mod }} by {{ message.get_user.username }}</h3>
	<p>{{ message.text }}</p>
	<hr>
	{% endfor %}
</div>
{% endblock %}
