{% extends "base.html" %}
{% block content %}
    <div class="container">
      <form action="/messages.php" class="form-signin" role="form" method="get">
        <h2 class="form-signin-heading">Click to confirm</h2>
        <input name="action" type="hidden" value="delete">
	<input name="message_id" type="hidden" value="{{ message.message_id }}">
	<input name="confirm" type="hidden" value="confirm">
        <button class="btn btn-lg btn-danger btn-block" type="submit">Delete</button>
      </form>

    </div>
{% endblock %}
