{% extends "base.html" %}
{% block content %}
<div class="container" role="main">
	<form class="form-horizontal" action="/messages.php?action=access" method="get">
		<div class="control-group">
			<div class="controls">
				<label class="control-label" for="text">Text:</label>
			</div>
			<div class="controls">
				<textarea rows="12" cols="80" id="text" name="text" required>{{ message.text }}</textarea>
			</div>
			<input type="hidden" name="action" value="{{ action }}">
			<input type="hidden" name="message_id" value="{{ message.message_id }}">
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Submit</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
