{% extends "base.html" %}
{% block content %}
<div class="container" role="main">
<form class="form-horizontal" action="/messages.php?action=access" method="get">
  <div class="control-group">
    <div class="controls">
    <label class="control-label" for="user_id">User:</label>
        <select name="user_id" id="user_id" required>
        {% for au in allowed_users %}
        <option value="{{ au.user_id }}">{{ au.username }}</option>
        {% endfor %}
        </select>
      <input type="hidden" name="message_id" value="{{ message_id }}">
      <input type="hidden" name="action" value="revoke_access">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Submit</button>
    </div>
  </div>
</form>
</div>
{% endblock %}
