
{% extends "base.html" %}
{% block content %}
<div class="container" role="main">
<form class="form-horizontal" action="/messages.php?action=access" method="get">
  <div class="control-group">
    <div class="controls">
    <label class="control-label" for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="username">
      <input type="hidden" name="message_id" value="{{ message_id }}">
      <input type="hidden" name="action" value="grant_access">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Submit</button>
    </div>
  </div>
</form>
</div>
{% endblock %}
