{% extends "base.html" %}
{% block content %}
    <div class="container">
        <p class="alert alert-success">Password changed. You can now <a href="/login.php">log in</a> using new password.</p>
    </div>
{% endblock %}
