{% extends "base.html" %}
{% block content %}
    <div class="container">

      <form action="/password.php" class="form-register" role="form" method="get">
        <h2 class="form-signin-heading">Change password</h2>
	{% if error %}
	    <p class="alert alert-danger">{{ error }}</p>
	{% endif %}
	    <div class="input-group">
	    <span class="input-group-addon">Current password:</span>
        <input id="password1" name="password" type="password" class="form-control" placeholder="Current password" required>
        </div>
	    <div class="input-group">
	    <span class="input-group-addon">New password:</span>
        <input id="password1" name="password1" type="password" class="form-control" placeholder="New password" required>
        </div>
	    <div class="input-group">
	    <span class="input-group-addon">New password:</span>
        <input id="password2" name="password2" type="password" class="form-control" placeholder="Repeat new password" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>

    </div>
{% endblock %}
