{% extends "base.html" %}
{% block content %}
    <div class="container">
        <p class="alert alert-success">Account registered. Check your email and follow instructions.</p>
    </div>
{% endblock %}
