{% extends "base.html" %}
{% block content %}
    <div class="container">

      <form action="/register.php" class="form-register" role="form" method="get">
        <h2 class="form-signin-heading">Registration</h2>
	{% if error %}
	    <p class="alert alert-danger">{{ error }}</p>
	{% endif %}
	    <div class="input-group">
	    <span class="input-group-addon">Username:</span>
        <input id="username" name="username" type="text" class="form-control" placeholder="Username" required autofocus>
        </div>
	    <div class="input-group">
	    <span class="input-group-addon">Email:</span>
        <input id="email" name="email" type="email" class="form-control" placeholder="email@example.com" required>
        </div>
	    <div class="input-group">
	    <span class="input-group-addon">Password:</span>
        <input id="password1" name="password1" type="password" class="form-control" placeholder="Password" required>
        </div>
	    <div class="input-group">
	    <span class="input-group-addon">Password:</span>
        <input id="password2" name="password2" type="password" class="form-control" placeholder="Repeat password" required>
        </div>
        <div class="input-group">
        {{ captcha|raw }}
        <script>
            $("#recaptcha_response_field").prop('required', true);
        </script>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>

    </div>
{% endblock %}
