<h1>Lista użytkowników</h1>
<table>
    <tr>
        <th>user_id</th>
        <th>password_hash</th>
        <th>salt</th>
        <th>last_login</th>
    </tr>
    <tr>
        <td>admin</td>
        <td>aw089vb76ps8</td>
        <td>v9as8dbypa</td>
        <td>12 marca 2014 11:55:55</td>
    </tr>
</table>
{{ object_list }}
